body {
    display: block;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
            transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    -webkit-animation: flutua 1s ease-in-out infinite;
            animation: flutua 1s ease-in-out infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    position: relative;
}
.saudacao:hover em {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.botaosaiba {
    font-size: 1.25em;
    background-color: #12477B;
    color: #FFF;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    border: .1em solid #12477B;
}

.botaofaca {
    font-size: 1.25em;
    background-color: #FFF;
    color: #000000;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    margin-top: 3em;
    border: .1em solid #fff;
}

.centered{
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center
}
.botaosaiba:focus,
.botaosaiba:hover {
    background-color: #fff;
    color: #12477B;
    box-shadow: 0 0 .5em #12477B;
    border: .1em solid #12477B;
}

.botaofaca:focus,
.botaofaca:hover {
    background-color: #000000;
    color: #FFF;
    box-shadow: 0 0 1em #12477B;
    border: .1em solid #fff;
}

.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 2px 2px #000;
}
.trabalhos {
    background-color: #11467A;
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    display: -webkit-flex;
    display: flex;
}
.trabalhos li {
    -webkit-flex: auto;
            flex: auto;
    border: .2em solid #000;
}
.trabalhos li:first-child {
    order: 2;
    transform: scale(1.1);
    z-index:2;
}
.trabalhos li:nth-child(2) {
    order: 1;
    transform: scale(1.05, 1.17) translate(0,1.2em);
    width: 30em;
}
.trabalhos li:nth-child(3) {
    order: 3;
    width: 30em;
}
.trabalhos img {
    width: 100%;
    height: 100%;
    display: block;
}
footer {
    background-color: #222222;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 2.5em;
}
footer a {
    color: #3C79B7;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}
.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: rgba(118,174,218, .5);
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.artificialintelligence {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.blockchain {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.machine-learning {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.clean-code {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.iot {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.digital {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.design-thinking {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.collaboration {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.agile {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.big-data {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.design {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}
.titulo{
margin-top: 2em;
margin-bottom: 2em;
}

@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.campo{
    font-family: "Open Sans Condensed", serif;
    font-size: .9em;
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
    font-family: "Open Sans Condensed", serif;
    font-size: .9em;
	display: inline-block;
	padding-right: .5em;
}

label{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
	color: #000000;
	display: block;
    margin-bottom: .2em;
    margin-top: .5em;
}
.text{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
}

