body {
    font-family: "Open Sans Condensed", serif;
    background-color: rgb(242, 252, 255);
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

h1,
h2,
.subtitulo-principal {
    font-family: 'Open Sans Condensed', sans-serif;
}

.labs{
	font-family: 'Shadows Into Light', serif;
	font-style: italic;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}

.titulo-principal {
    text-align: center;
    background-color: rgb(25, 93, 161);
    color: rgb(255,255,255);
    padding: 2rem;
}

.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}

main a {
    color: #851944;
}

footer a:focus,
footer a:hover{
    font-size: 1.2em;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

main {
    padding-bottom: 4em;
    flex-grow: 1;
}

.navegacao-site {
    width: calc(0.9 * 300px);
    padding-top: calc(300px + 1em);
}
body {
    display: block;
}
.saudacao p {
    font-size: 1.5em;
    color: rgb(33, 27, 19);
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: rgb(33, 27, 19);
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
            transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    -webkit-animation: flutua 1s ease-in-out infinite;
            animation: flutua 1s ease-in-out infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    position: relative;
}
.saudacao:hover em {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.botaosaiba {
    font-size: 1.25em;
    background-color: rgb(25, 93, 161);
    color: rgb(255, 255, 255);
    width: 40ch;
    display: block;
    text-align: center;
    padding: 0.5em;
    margin: 2em auto;
    text-decoration: none;
    transition: 0.5s;
    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(76, 129, 182);
    border-image: initial;
}

.botaofaca {
    font-size: 1.25em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 76, 151);
    width: 40ch;
    display: block;
    text-align: center;
    padding: 0.5em;
    margin: 3em auto 2em;
    text-decoration: none;
    transition: 0.5s;
    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(76, 129, 182);
    border-image: initial;
}

.centered{
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center
}
.botaosaiba:focus,
.botaosaiba:hover {
    font-size: 1.25em;
    background-color: #fff;
    color: #12477B;
    box-shadow: 0 0 .5em #12477B;
    border: .1em solid #12477B;
}

.botaofaca:focus,
.botaofaca:hover {
    font-size: 1.25em;
    background-color:rgb(25, 93, 161);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 .5em rgb(0, 76, 151);
    border: .1em solid rgb(51, 111, 171);
}

.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 2px 2px #000;
}
.trabalhos {
    background-color: rgb(102, 147, 192);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    display: -webkit-flex;
    display: flex;
}
.trabalhos li {
    -webkit-flex: auto;
            flex: auto;
    border: .2em solid #000;
}
.trabalhos li:first-child {
    order: 2;
    transform: scale(1.1);
    z-index:2;
}
.trabalhos li:nth-child(2) {
    order: 1;
    transform: scale(1.05, 1.17) translate(0,1.2em);
    width: 30em;
}
.trabalhos li:nth-child(3) {
    order: 3;
    width: 30em;
}
.trabalhos img {
    width: 100%;
    height: 100%;
    display: block;
}
footer {
    background-color: #222222;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 2.5em;
}
footer a {
    color: rgb(102, 147, 192);
    text-decoration: none;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}
.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.designThinking {
    top: 46%;
    left: 57%;
    transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(0.19);
}
.blockChain {
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(0.25);
    opacity: 0.9;
}
.ioT {
    top: 45%;
    left: 24.5%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(0.25);
    opacity: 0.5;
}
.cleanCode {
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(0.24);
    opacity: 0.6;
}
.agile {
    top: 26%;
    left: 63%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(0.25);
    opacity: 0.6;
}
.digital {
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(0.25);
    opacity: 0.6;
}
.artificialInteliigence {
    top: 27.5%;
    left: 35%;
    transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(0.25);
    opacity: 0.8;
}
.collaboration {
    top: 64%;
    left: 35%;
    transform: translate(-50%, -50%) translateZ(3px) rotate(6deg) scale(0.16);
    opacity: 0.5;
}
.bigData {
    top: 68%;
    left: 68%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(9deg) scale(0.25);
    opacity: 0.4;
}
.machineLearning {
    top: 24%;
    left: 49%;
    transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(0.25);
    opacity: 0.9;
}
.design {
    top: 40%;
    left: 69%;
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(0.25);
    opacity: 0.6;
}
.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}
.titulo{
margin-top: 2em;
margin-bottom: 2em;
}

@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.campo{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
	margin: 0;
	padding-bottom: 1em;
    width: 100%;
    margin-bottom: .5em;
    border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
	display: inline-block;
	padding-right: .5em;
}

label{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
	color: #000000;
	display: block;
    margin-bottom: .2em;
    margin-top: .5em;
}
.text{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
}
.legendmargin{
    margin-top: .8em;
    margin-bottom: .5em;
}
.textArea{
    font-family: "Open Sans Condensed", serif;
    font-size: 1em;
    display: none;
    width: 100%
}
input:focus { 
    border: 0.5px solid rgb(0, 0, 255);
}
input:invalid {
    border: 0.5px solid rgb(255, 0, 0);
}
input:valid {
    border: 0.5px solid rgb(0, 255, 0);
}
.exitoAlt{
    height: 10em;
    margin-top: 5em;
}